{% load  sekizai_tags %}


<section class="barra-agenda shadow dark">

    <div class="barra-agenda-titulo">
        <h1>Agenda Académica</h1>
    </div>

    <div class="barra-agenda-lista">
        <a class="slides-prev"><i class="fa fa-chevron-left"></i></a>
        <a class="slides-next"><i class="fa fa-chevron-right"></i></a>
        <div id="slider-agenda">
            <ul class="slides">
            {% for evento in lista %}
            <li>
            <article >
                <div class="barra-agenda-fecha">
                    <span class="dia">{{ evento.fecha_inicia|date:"d" }}</span>
                    <span class="mes">{{ evento.fecha_inicia|date:"F" }}</span>
                </div>
                <h1>
                {% if evento.detalle %}
                    <a href="{{evento.get_absolute_url}}">{{evento.nombre}}</a>
                {% else %}
                    {{evento.nombre}}
                {% endif %}
                </h1>
                <p class="hora">{{ evento.hora }}</p>
            </article>
            </li>
            {% endfor %}

            </ul>
        </div>
    </div>
</section>

{% addtoblock "js" %}

    <script type="text/javascript">
        $(function(){
            var $slideshow = $('#slider-agenda').flexslider({
                animation: "slide",
                controlNav: false,
                directionNav: false,
                slideshowSpeed: 5500,
                itemWidth: 330,
                itemMargin: 5,
                minItems: 1,
                maxItems: 7
            });
            $('.slides-next').click(function(){
                $slideshow.flexslider("next");
            });

            $('.slides-prev').click(function(){
                $slideshow.flexslider("prev");
            });
        });
    </script>

{% endaddtoblock %}
