{% load  sekizai_tags %}

<div class="event-recent-list bxslider">
{% for evento in lista %}
    <div class="event-recent-item slide">
        <div class="date-short">
        <time datetime="{{ evento.fecha_inicia|date:'Y-m-d' }}">
            <span class="day">{{ evento.fecha_inicia|date:"d" }}</span>
            <span class="month">{{ evento.fecha_inicia|date:"M" }}</span>
            <span class="year">{{ evento.fecha_inicia|date:"Y" }}</span>
        </time>
        </div>

        {% if evento.detalle %}
        <a href="{{evento.get_absolute_url}}">
           <span class="event-recent-item-title">
               {{evento.nombre}}
           </span>
        </a>
        {% else %}
        <span class="event-recent-item-title">
            {{evento.nombre}}
        </span>
        {% endif %}


        <span class="hora">{{ evento.hora }}</span>
    </div>
{% endfor %}
</div>

<span class="slider-control event-recent-control next"></span>



{% addtoblock "js" %}
<script type="text/javascript" src="{{STATIC_URL}}js/bxslider/jquery.bxSlider.min.js"></script>
<script type="text/javascript">

    var slider = $('.bxslider').bxSlider({
        mode: 'vertical',
        minSlides: 2,
        maxSlide:   6,
        moveSlides: 1,
        slideMargin: 0,
        auto:true,
        controls:true,
        pager:false,
        autoStart:true,
        nextSelector: '.slider-control.next.event-recent-control',
        prevSelector: '.slider-control.prev.event-recent-control',
        nextText: '<span class="arrow arrow-down"></span>',
        prevText: '<span class="arrow arrow-up"></span>',
    });

    $(".bx-window").removeAttr('style');
    $(".bx-wrapper").removeAttr('style');

</script>
{% endaddtoblock %}

{% addtoblock "css" %}
{% endaddtoblock %}
